.flashy {
  color: red;
  font: italic;
}

.box {
  margin-left: 200px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
  box-sizing: border-box;
  float: left;
  width: 200px;
}

img {
  margin-left: 200px;
}
